.fireRankingItem {
    /* border: 1px solid rgb(194, 194, 194); */

    width: 20rem;
    height: 4.5rem;

    flex-shrink: 0;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.fireRankingItem:hover {
    background-color: rgb(241,241,241);
}

.personalInfo {
    /* border: 1px solid red; */

    width: 11rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}