.friendTitle {
    border: 1px solid rgb(194, 194, 194);
    border-bottom: none;

    width: 33rem;
    height: 4.5rem;

    position: sticky;
    bottom: 100%;

    box-sizing: border-box;
    padding: 0 0.2rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.friendInfo {
    /* border: 1px solid red; */
    width: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}