.messageBoard {
    border: 1px solid rgb(194, 194, 194);

    width: 33rem;
    height: 19.7rem;

    box-sizing: border-box;
    padding: 0.8rem 0.8rem;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items: stretch;
}

