.securitySetting {
    /* border: 1px solid blue; */

    width:29rem;
    height: 16rem;

    margin-bottom: 1.2rem;
}

/*
.submitButton {
    border: 1px solid red;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
*/