.setting {
  border: 1px solid rgb(194,194,194);

  width: 33rem;
  height: 32.2rem;

  box-sizing: border-box;
  padding: 0.8rem;

  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
