.time {
    /* border: 1px solid rgb(127, 211, 127); */

    display: inline-block;
    width: 3rem;
    height: 1.2rem;

    font-size: small;
    text-align: center;
    color: rgb(156, 154, 154);

    flex-shrink: 0;

    margin-top: 0.2rem;
}