.headBar{
    border: 1px solid rgb(24,144,255);

    width: 33rem;
    height: 2.5rem;

    box-sizing: border-box;
    padding: 0 0.3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}