.divider {
    /* border: 1px solid red; */
}

.rankingItem {
    /* border: 1px solid rgb(194, 194, 194); */

    width: 17.5rem;
    height: 4rem;

    margin-top: -0.5rem;

    flex-shrink: 0;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.letterRankingItem:hover {
    background-color: rgb(241,241,241);
}